.mg-chart-title
  text-transform uppercase
  font-size 3em
  font-weight 200

@media(max-width:500px)
  svg
    padding 0px
  

svg
  padding 20px 0px
  width 100%

.graph
  padding 10px 0px
  border-bottom 1px solid #eee