extends layout

block title
  title Error

block description
  meta(name='description', content='Errored')

block extralinks
  link(rel="stylesheet", href="/stylesheets/error.css")

block extrascripts

block content
  h1= message
  h2= error.status
  pre #{error.stack}
