extends layout

block title
  title PebbleFit

block description
  meta(name='description', content='Pebble-Fit (description coming soon...)')

block extralinks
  link(rel='stylesheet', href='/bower_components/metrics-graphics/dist/metricsgraphics.css')
  link(rel='stylesheet', href='/bower_components/mg-line-brushing/dist/mg_line_brushing.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

block extrascripts
  script(src="/bower_components/d3/d3.js")
  script(src="/bower_components/metrics-graphics/dist/metricsgraphics.js")
  script(src="bower_components/mg-line-brushing/dist/mg_line_brushing.js")
  script(src='/javascripts/index.js')

block content
  script.
    window.watch_token="#{watch}"
  .cover
    .container
      .row
        .col-md-12
          .infoCard#analyticsCard
            .infoBody
              ul.list-inline
                li
                  .btn-group.modify-time-period-controls
                    button.btn.btn-default(type='button', data-time_period='latest_hour') Latest Hour
                    button.btn.btn-default(type='button', data-time_period='latest_day') One Day
                    button.btn.btn-default(type='button', data-time_period='compare_yesterday') Compare With Yesterday
                li
                  .btn-group.modify-y-scale-controls
                    button.btn.btn-default(type='button', data-scale='log') Log Step Count
                    button.btn.btn-default(type='button', data-scale='linear') Linear Step Count
                li
                  .checkbox.showMarkers
                    label
                      input(type="checkbox")
                      | Show Events
              div#graph.graph
              div#legend
            .infoSubheadline
              p Latest Connection to watch was #{moment(last_time).fromNow()}
          .infoCard
            .infoBody
              .infoHeadline
                h1 What's new?
              .row
                .col-md-4
                  img.pebble-screenshot(src="/images/app.png")
                .col-md-8
                  h3 Events
                  p
                    | User behavior is logged through events. Currently, every
                    | time the app opens, either through the user, or through 
                    | reminders, the watch notifies the server of the launch
                    | event, along with the reason for launch. A similar
                    | notification takes place when the user closes the app.
                  h3 Wakeup
                  p
                    | A wakeup event is launched in the cleanup stage before 
                    | the app closes. The time between app wakeups is currently
                    | set at 5 minutes. In the next stage, the server will have
                    | the ability to modify this time.
                  h3 Health
                  p
                    | Health data, more specifically step data, is managed 
                    | differently for the interface and for collection.
                    | On the watch screen, realtime health data is aggregated
                    | on watch over the hour. On the opening of the app, app 
                    | data from the most recent hour is sent over in a batch to
                    | the server.
                  h3 Communication
                  p
                    | The phone now acts as an invisible intermediary between
                    | watch and server, not 
                    | sending acknowledgements of data transfer success to watch 
                    | until the server has confirmed storage of data.
            .infoSubheadline
              p Last Updated #{moment('22:00 GMT+0400 24 July, 2016').fromNow()}
