extends layout

block title
  title PebbleFit

block description
  meta(name='description', content='Pebble-Fit (description coming soon...)')

block extralinks
  link(rel='stylesheet', href='/bower_components/metrics-graphics/dist/metricsgraphics.css')
  link(rel='stylesheet', href='/bower_components/mg-line-brushing/dist/mg_line_brushing.css')
  link(rel='stylesheet', href='/stylesheets/index.css')

block extrascripts
  script(src="/bower_components/d3/d3.js")
  script(src="/bower_components/metrics-graphics/dist/metricsgraphics.js")
  script(src="bower_components/mg-line-brushing/dist/mg_line_brushing.js")
  script(src='/javascripts/index.js')

block content
  script.
    window.watch_token="#{watch}"
  .cover
    .container
      .row
        .col-md-12
          .infoCard
            .infoBody
              .btn-group.modify-time-period-controls
                button.btn.btn-default(type='button', data-time_period='latest_hour') Latest Hour
                button.btn.btn-default(type='button', data-time_period='latest_day') One Day
                button.btn.btn-default(type='button', data-time_period='compare_yesterday') Compare With Yesterday
              div#graph.graph
              div#legend
            .infoSubheadline
              p Latest Connection to watch was #{moment(last_time).fromNow()}
